{% extends 'base.html' %}

{% block head_title %} WordPlease Home Page {% endblock %}

{% block content %}

    <h1>Last Posts:</h1>

    {% for post in last_posts %}
        <table width="40%">
            <tr align="center"><td><h1>{{ post.title }}</h1></td></tr>
            <tr align="center"><td>
                <strong>From:</strong> {{ post.owner.first_name }} {{ post.owner.last_name }}
                <strong>Publish:</strong> {{ post.publish_date|date:"d/M/Y" }} | {{ post.publish_date|time:"H:i" }}
                <strong>Tags:</strong> {% for category in post.category.all %} #{{ category }} {% endfor %}
            </td></tr>
            <tr><td></td></tr>
            {% if post.url == None or post.url == Null %}
                <tr align="center"><td><img src="../static/images/defaultImage.jpg" alt="{{ post.title }}"></td></tr>
            {% else %}
                <tr align="center"><td><img src="{{ post.url }}" alt="{{ post.title }}"></td></tr>
            {% endif %}
            <tr align="center"><td><strong>"{{ post.summary }}"</strong></td></tr>
            <tr align="center">
                <td>
                <font size="2"><a href="{% url 'post_detail_page' post.owner.username post.pk %}">Read more...</a></font>
                </td>
            </tr>
        </table>
        <hr>
    {% endfor %}

{% endblock %}